In [32]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score

In [33]:
df = pd.read_csv("lungCancer.csv")
df.head()

,GENDER,AGE,S1OKING,YELLOW_0INGERS,ANXIETY,PEER_PRESSURE,CHRONIC DISEASE,0ATIGUE,ALLERGY,WHEEZING,ALCOHOL CONSU1ING,COUGHING,SHORTNESS O0 BREATH,SWALLOWING DI00ICULTY,CHEST PAIN,LUNG_CANCER
0,1,69,1,2,2,1,1,2,1,2,2,2,2,2,2,1
1,1,74,2,1,1,1,2,2,2,1,1,1,2,2,2,1
2,0,59,1,1,1,2,1,2,1,2,1,2,2,1,2,0
3,1,63,2,2,2,1,1,1,1,1,2,1,1,2,2,0
4,0,63,1,2,1,1,1,1,1,2,1,2,2,1,1,0

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 309 entries, 0 to 308
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   GENDER                 309 non-null    int64
 1   AGE                    309 non-null    int64
 2   S1OKING                309 non-null    int64
 3   YELLOW_0INGERS         309 non-null    int64
 4   ANXIETY                309 non-null    int64
 5   PEER_PRESSURE          309 non-null    int64
 6   CHRONIC DISEASE        309 non-null    int64
 7   0ATIGUE                309 non-null    int64
 8   ALLERGY                309 non-null    int64
 9   WHEEZING               309 non-null    int64
 10  ALCOHOL CONSU1ING      309 non-null    int64
 11  COUGHING               309 non-null    int64
 12  SHORTNESS O0 BREATH    309 non-null    int64
 13  SWALLOWING DI00ICULTY  309 non-null    int64
 14  CHEST PAIN             309 non-null    int64
 15  LUNG_CANCER            309 non-null    int64
dtypes: int64(16)
memory usage: 38.8 KB

# Spliting into test-train dataset

In [35]:
X = df.drop('LUNG_CANCER', axis=1)
y = df['LUNG_CANCER']

In [36]:
x_train,x_test,y_train,y_test = train_test_split(X,y,test_size=0.30,random_state=42)

# Scaling the dataset

In [37]:
Scaler = StandardScaler() 
Scaler.fit(x_train)
x_train_scaled = Scaler.transform(x_train)
x_test_scaled = Scaler.transform(x_test)

In [38]:
from sklearn.neural_network import MLPClassifier 
MLPC = MLPClassifier().fit(x_train_scaled,y_train) 
y_prediction = MLPC.predict(x_test_scaled) 
print(y_prediction[:10])

[1 1 1 1 1 1 1 1 1 1]

C:\Users\sgaks\anaconda3\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:692: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  warnings.warn(

# Prediction

In [39]:
df_new = pd.DataFrame({'Real_Y_Values':y_test,'Prediction_Y_Values':y_prediction})
df_new.head()

     Real_Y_Values  Prediction_Y_Values
288              1                    1
9                1                    1
57               1                    1
60               1                    1
25               1                    1

# Evaluation :

In [40]:
accuracy_score(y_test,y_prediction)

0.956989247311828